gossipnode.exe
gossipnode
gossipnode.exe.sig
logs/*.log
config/peer.json
config/bls.json
DB/*.db
yggdrasil
Account.json
.immudb_state/*
.identity*
.state*
.vscode
*.avro
/data
test-cli
immudb_mac
/immu
*.exe
jmdn
immuclient
.DS_Store
# *.pb.go
# *_grpc.pb.go
Thumbs.db
*.swp
*.swo
*.out
*.test
jmzk-node
test
immudb
data/  
SIM/__pycache__/testZKBlock.cpython-313.pyc
immudb
.env
SIM/TxSIM/submitRawTxn.py

# SmartContract Local Storage
contract_storage_pebble/
main

# Testing Artifacts
SmartContract/cmd/cmd
SmartContract/contracts.db
