jmdn
jmdn.exe
gossipnode.exe
gossipnode
gossipnode.exe.sig
logs/*.log
config/peer.json
config/bls.json
DB/*.db
yggdrasil
Account.json
.immudb_state/*
.identity*
.state*
.vscode
*.avro
/data
test-cli
immudb_mac
/immu
*.exe
immuclient
.DS_Store
cloudgrafana.txt
# *.pb.go
# *_grpc.pb.go
Thumbs.db
*.swp
*.swo
*.out
*.test
JMDT-node
test
immudb
# data/ (already ignored above)
SIM/__pycache__/testZKBlock.cpython-313.pyc
.env
SIM/TxSIM/submitRawTxn.py
Scripts/restore_tags.sh
temp/
coverage.out
__debug_bin
*.key
*.pem
*.crt
vendor/

# Internal team references
docs/SONARQUBE_SETUP_GUIDE.md
ADR-001-JMDT-Native-EVM-Smart-Contracts.docx
jmdn.yaml
contract_storage_pebble/000004.log
*.log
*.logs
*.db
*.db-wal
contract_storage_pebble/CURRENT
contract_storage_pebble/LOCK
contract_storage_pebble/MANIFEST-000001
contract_storage_pebble/MANIFEST-000005
contract_storage_pebble/*
SmartContract/artifacts/*
SmartContract/artifacts/HelloWorld.json
/SmartContract/artifacts
SmartContract/artifacts/HelloWorld.json
docs/refactor-contractDBOps.md
internal/WAL/.tmp/*